<div class="chart-container">
  <div style="position: relative; height: 60vh; width: 150vh;">
    <canvas id="line-chart">{{chart}}</canvas>
    <div *ngIf="(setChartValues$ | async)"></div>
  </div>
<!--  <div class="time-frame-select">-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>Choose timeframe</mat-label>-->
<!--      <mat-select [formControl]="timeFrameForm">-->
<!--        <mat-option [value]="1">Week</mat-option>-->
<!--        <mat-option [value]="2">Month</mat-option>-->
<!--        <mat-option [value]="3">Year</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--  </div>-->
</div>
