<div *ngIf="dataLoaded; else loading">
  <div *ngIf="asset">
    <div class="asset-thumbnail">
      <ng-container *ngIf="thumbnailUrl">
        <img [src]="thumbnailUrl" alt="Thumbnail" />
      </ng-container>
      <ng-container *ngIf="!thumbnailUrl">No thumbnail found.</ng-container>
    </div>

    <div class="asset-metadata" #assetMetadata>
      <mat-list>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Asset Guid:&nbsp;</span>
            {{ asset.asset_guid }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Asset Pid:&nbsp;</span>
            {{ asset.asset_pid }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Status:&nbsp;</span>
            {{ asset.status }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Multi-Specimen:&nbsp;</span>
            {{ asset.multi_specimen }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Specimens:&nbsp;</span>
            {{ specimenBarcodes }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Funding:&nbsp;</span>
            {{ asset.funding }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Subject:&nbsp;</span>
            {{ asset.asset_subject }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Payload Type:&nbsp;</span>
            {{ asset.payload_type }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">File Formats:&nbsp;</span>
            {{ fileFormats }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Asset Locked:&nbsp;</span>
            {{ asset.asset_locked }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Restricted Access:&nbsp;</span>
            {{ restrictedAccess }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Tags:&nbsp;</span>
            {{ tags }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Audited:&nbsp;</span>
            {{ asset.audited }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Created Date:&nbsp;</span>
            {{ asset.created_date }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Metadata Updated:&nbsp;</span>
            {{ asset.date_metadata_updated }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Asset Taken:&nbsp;</span>
            {{ asset.date_asset_taken }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Asset Deleted:&nbsp;</span>
            {{ asset.date_asset_deleted }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Asset Finalised:&nbsp;</span>
            {{ asset.date_asset_finalised }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Metadata Taken:&nbsp;</span>
            {{ asset.date_metadata_taken }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Institution:&nbsp;</span>
            {{ asset.institution }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text" style="margin-bottom: auto">Parent Guids:&nbsp;</span>
            <div style="display: flex; flex-wrap: wrap; gap: 0.25rem">
              <a
                *ngFor="let parentGuid of asset.parent_guids; trackBy: trackBy"
                [routerLink]="['/detailed-view', parentGuid]">
                {{ parentGuid }}
              </a>
            </div>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Collection:&nbsp;</span>
            {{ asset.collection }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Internal Status:&nbsp;</span>
            {{ asset.internal_status }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Update User:&nbsp;</span>
            {{ asset.updateUser }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item style="display: block">
            <span class="bold-text" style="align-self: flex-start">Events:&nbsp;</span>
            <div class="events">
              <ng-container *ngFor="let event of asset.events; let last = last">
                <div style="display: flex; font-size: 0.875rem; width: fit-content; align-items: center; gap: 0.5rem">
                  <span>
                    {{ event.event }}
                  </span>
                  |
                  <span>{{ event?.user }}</span>
                  |
                  <span>{{ event.timestamp | date : 'dd/MM-yyyy HH:mm' }}</span>
                </div>
                <div *ngIf="!last">
                  <hr />
                </div>
              </ng-container>
            </div>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Digitiser:&nbsp;</span>
            {{ asset.digitiser }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Workstation:&nbsp;</span>
            {{ asset.workstation }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Pipeline:&nbsp;</span>
            {{ asset.pipeline }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item style="overflow-x: auto">
            <span class="bold-text">Error message:&nbsp;</span>
            <span style="font-size: 0.875rem; color: crimson; text-wrap: balance">
              {{ asset.error_message }}
            </span>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Error timestamp:&nbsp;</span>
            <span style="color: crimson; font-size: 0.875rem">
              {{ asset.error_timestamp | date : 'dd/MM-yyyy HH:mm' }}
            </span>
          </mat-list-item>
        </div>
      </mat-list>
    </div>

    <div *ngIf="assetFiles" class="asset-files">
      <table mat-table [dataSource]="assetFiles" class="asset-files-table">
        <ng-container matColumnDef="Files">
          <th mat-header-cell *matHeaderCellDef>Files</th>
          <td mat-cell *matCellDef="let file">{{ file }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <div class="icons">
      <mat-icon
        *ngIf="assetList.length > 1"
        fontIcon="arrow_back"
        class="icon-display"
        (click)="showPreviousAsset()"
        [class.disabled]="isPreviousDisabled()"
        [ngClass]="{'disabled': isPreviousDisabled()}"
        [attr.disabled]="isPreviousDisabled() ? true : null"
        title="Previous Asset"></mat-icon>
      <!--
      <mat-icon fontIcon="download" class="icon-display" (click)="exportCsv()" title="Download CSV"></mat-icon>
      -->
      <button (click)="downloadCsv()">Download CSV File</button>
      <button (click)="downloadZip()">Create and Download Complete Asset</button>
      <mat-icon
        *ngIf="assetList.length > 1"
        fontIcon="arrow_forward"
        class="icon-display"
        (click)="showNextAsset()"
        [class.disabled]="isNextDisabled()"
        [ngClass]="{'disabled': isNextDisabled()}"
        [attr.disabled]="isNextDisabled() ? true : null"
        title="Next Asset"></mat-icon>
    </div>
  </div>
  <div *ngIf="!asset">
    <p>No asset has been found with this asset_guid.</p>
  </div>
</div>

<ng-template #loading>
  <div class="loading-spinner">Loading...</div>
</ng-template>
