<div *ngIf="dataLoaded; else loading">
  <div *ngIf="asset$ | async as asset">
    <div class="asset-thumbnail">
      <ng-container *ngIf="thumbnailUrl; else noThumbnail">
        <img (click)="openAssetThumbnailModal()" [src]="thumbnailUrl" class="zoom-pointer" alt="Thumbnail" />
      </ng-container>
      <ng-template #noThumbnail>
        <img src="assets/placeholder.png" alt="Placeholder for thumbnail" />
      </ng-template>
    </div>

    <a
      [href]="wikiPageUrl"
      target="_blank"
      matTooltip="Open wiki page in a new tab"
      style="position: absolute; bottom: calc(12.5vh - 20px); left: calc(47.5vw - 20px); z-index: 50"
      mat-mini-fab
      color="primary"
      aria-label="Wiki page link">
      <mat-icon>help</mat-icon>
    </a>
    <div class="asset-metadata" #assetMetadata>
      <mat-list>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Asset Guid:&nbsp;</span>
            {{ asset.asset_guid }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Specimens:&nbsp;</span>
            {{ specimenBarcodes }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Metadata Ingested:&nbsp;</span>
            {{ asset.date_metadata_ingested | date : 'dd/MM-yyyy HH:mm' }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Workstation:&nbsp;</span>
            {{ asset.workstation }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Pipeline:&nbsp;</span>
            {{ asset.pipeline }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Institution:&nbsp;</span>
            {{ asset.institution }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Collection:&nbsp;</span>
            {{ asset.collection }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Multi-Specimen:&nbsp;</span>
            {{ asset.multi_specimen }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Mos Id:&nbsp;</span>
            {{ asset.mos_id ?? '' }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Digitiser:&nbsp;</span>
            {{ asset.digitiser }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <div style="width: 100%">
              <span class="bold-text">Complete Digitiser List:&nbsp;</span>
              <div *ngIf="asset.complete_digitiser_list?.length" class="scrollable-list-row scrollable-list-header">
                <span>Username</span>
              </div>
              <div *ngIf="asset.complete_digitiser_list?.length" class="scrollable-list-container">
                <ng-container
                  *ngFor="let digitiser of asset.complete_digitiser_list; let last = last; trackBy: trackBy">
                  <div class="scrollable-list-row">
                    <span style="grid-column: span 3 / span 3">
                      {{ digitiser }}
                    </span>
                  </div>
                  <div *ngIf="!last">
                    <hr />
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Asset Pid:&nbsp;</span>
            {{ asset.asset_pid }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Status:&nbsp;</span>
            {{ asset.status }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <div style="width: 100%">
              <span class="bold-text">Funding:&nbsp;</span>
              <div *ngIf="asset.funding?.length" class="scrollable-list-container">
                <ng-container *ngFor="let funding of asset.funding; let last = last; trackBy: trackBy">
                  <div class="scrollable-list-row">
                    <span style="grid-column: span 3">
                      {{ funding }}
                    </span>
                  </div>
                  <div *ngIf="!last">
                    <hr />
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Subject:&nbsp;</span>
            {{ asset.asset_subject }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Payload Type:&nbsp;</span>
            {{ asset.payload_type }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">File Formats:&nbsp;</span>
            {{ fileFormats }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Asset Locked:&nbsp;</span>
            {{ asset.asset_locked }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Restricted Access:&nbsp;</span>
            {{ restrictedAccess }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Role Restriction:&nbsp;</span>
            {{ asset.role_restrictions | roleRestriction }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Tags:&nbsp;</span>
            {{ tags }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Audited:&nbsp;</span>
            {{ asset.audited }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Audited:&nbsp;</span>
            {{ asset.date_audited | date : 'dd/MM-yyyy HH:mm' }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Audited By:&nbsp;</span>
            {{ asset.audited_by }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Asset Taken:&nbsp;</span>
            {{ asset.date_asset_taken }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Metadata Updated:&nbsp;</span>
            {{ asset.date_metadata_updated | date : 'dd/MM-yyyy HH:mm' }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Asset Deleted:&nbsp;</span>
            {{ asset.date_asset_deleted }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Asset Finalised:&nbsp;</span>
            {{ asset.date_asset_finalised }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Metadata Taken:&nbsp;</span>
            {{ asset.date_metadata_taken }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>

        <div class="list-item-container">
          <mat-list-item>
            <div style="width: 100%">
              <span class="bold-text">Parent Guids:&nbsp;</span>
              <div *ngIf="asset.parent_guids?.length" class="scrollable-list-row scrollable-list-header">
                <span>Guid</span>
              </div>
              <div *ngIf="asset.parent_guids?.length" class="scrollable-list-container">
                <ng-container *ngFor="let parentGuid of asset.parent_guids; let last = last; trackBy: trackBy">
                  <div class="scrollable-list-row">
                    <span style="grid-column: span 2">
                      {{ parentGuid }}
                    </span>

                    <a
                      type="button"
                      [href]="baseUrl + '/ars/detailed-view/' + parentGuid"
                      target="_blank"
                      mat-stroked-button
                      style="width: fit-content; justify-self: flex-end; display: flex; align-items: center">
                      View
                      <mat-icon style="font-size: 1rem; width: 1rem; height: 1rem; translate: 0 -1px">
                        open_in_new
                      </mat-icon>
                    </a>
                  </div>
                  <div *ngIf="!last">
                    <hr />
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Internal Status:&nbsp;</span>
            {{ asset.internal_status }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Update User:&nbsp;</span>
            {{ asset.updateUser }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Camera Setting Control:&nbsp;</span>
            {{ asset.camera_setting_control }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Metadata Version:&nbsp;</span>
            {{ asset.metadata_version }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Metadata Source:&nbsp;</span>
            {{ asset.metadata_source }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Metadata Created By:&nbsp;</span>
            {{ asset.metadata_created_by }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Make Public:&nbsp;</span>
            {{ asset.make_public }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Push To Specify:&nbsp;</span>
            {{ asset.push_to_specify }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Date Pushed To Specify:&nbsp;</span>
            {{ asset.date_pushed_to_specify | date : 'dd/MM-YYYY HH:mm' }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Specify Attachment Remarks:&nbsp;</span>
            {{ asset.specify_attachment_remarks }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Specify Attachment Title:&nbsp;</span>
            {{ asset.specify_attachment_title }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <div style="width: 100%">
              <span class="bold-text">Legality:&nbsp;</span>
              <div *ngIf="asset.legality" class="scrollable-list-row scrollable-list-header">
                <span>Copyright</span>
                <span style="text-align: center">License</span>
                <span style="text-align: end">Credit</span>
              </div>
              <div *ngIf="asset.legality as legality" class="scrollable-list-container">
                <div class="scrollable-list-row">
                  <span>
                    {{ legality.copyright }}
                  </span>
                  <span style="text-align: center">{{ legality.license }}</span>
                  <span style="text-align: end">{{ legality.credit }}</span>
                </div>
              </div>
            </div>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item style="display: block">
            <div style="width: 100%">
              <span class="bold-text">Events:&nbsp;</span>
              <div *ngIf="asset.events?.length" class="scrollable-list-row scrollable-list-header">
                <span>Event</span>
                <span style="text-align: center">User</span>
                <span style="text-align: end">Date</span>
              </div>
              <div *ngIf="asset.events?.length" class="scrollable-list-container">
                <ng-container *ngFor="let event of asset.events; let last = last">
                  <div class="scrollable-list-row">
                    <span>
                      {{ event.event }}
                    </span>

                    <span style="text-align: center">{{ event?.user }}</span>

                    <span style="text-align: end">{{ event.timestamp | date : 'dd/MM-yyyy HH:mm' }}</span>
                  </div>
                  <div *ngIf="event.event === 'UPDATE_ASSET'">
                    <span
                      class="event-change"
                      *ngFor="let change of event.change_list; let lastChange = last; trackBy: trackBy">
                      <b>{{ change }}{{ lastChange ? '' : ', ' }}</b>
                    </span>
                  </div>
                  <div *ngIf="!last">
                    <hr />
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <div style="width: 100%">
              <span class="bold-text">Issues:&nbsp;</span>
              <div
                *ngIf="asset?.issues?.length"
                class="scrollable-list-row scrollable-list-header"
                style="grid-template-columns: repeat(4, 1fr)">
                <span>Name</span>
                <span>Status</span>
                <span style="text-align: center">Solved</span>
                <span></span>
              </div>
              <div *ngIf="asset?.issues?.length" class="scrollable-list-container">
                <ng-container *ngFor="let issue of asset?.issues; let last = last; trackBy: trackByIssueId">
                  <div class="scrollable-list-row" style="grid-template-columns: repeat(4, 1fr)">
                    <span>
                      {{ issue.name }}
                    </span>
                    <span>
                      {{ issue.status }}
                    </span>
                    <span style="text-align: center">
                      <mat-icon class="solved-icon" *ngIf="issue.solved" color="primary">check_circle</mat-icon>
                      <mat-icon class="solved-icon" *ngIf="!issue.solved" color="warn">highlight_off</mat-icon>
                    </span>
                    <button
                      type="button"
                      (click)="openIssueDialog(issue)"
                      mat-stroked-button
                      style="width: fit-content; justify-self: flex-end">
                      View
                    </button>
                  </div>
                  <div *ngIf="!last">
                    <hr />
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <div style="width: 100%">
              <span class="bold-text">External Publishers:&nbsp;</span>
              <div *ngIf="asset.external_publishers?.length" class="scrollable-list-row scrollable-list-header">
                <span>Name</span>
                <span style="grid-column: span 2">Description</span>
              </div>
              <div *ngIf="asset.external_publishers?.length" class="scrollable-list-container">
                <ng-container
                  *ngFor="let publisher of asset.external_publishers; let last = last; trackBy: trackByPublicationId">
                  <div class="scrollable-list-row">
                    <span>
                      {{ publisher.name }}
                    </span>
                    <span style="grid-column: span 2">
                      {{ publisher.description }}
                    </span>
                  </div>
                  <div *ngIf="!last">
                    <hr />
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item *ngIf="assetFiles$ | async as files">
            <div style="width: 100%">
              <span class="bold-text">Files:&nbsp;</span>
              <div class="scrollable-list-container">
                <ng-container *ngFor="let file of files; let last = last; trackBy: trackBy">
                  <div class="scrollable-list-row" style="grid-template-columns: repeat(4, 1fr)">
                    <span style="grid-column: span 3">
                      {{ file }}
                    </span>
                  </div>
                  <div *ngIf="!last">
                    <hr />
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item style="overflow-x: auto">
            <span class="bold-text">Error message:&nbsp;</span>
            <span style="font-size: 0.875rem; color: crimson; text-wrap: balance">
              {{ asset.error_message }}
            </span>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item-container">
          <mat-list-item>
            <span class="bold-text">Error timestamp:&nbsp;</span>
            <span style="color: crimson; font-size: 0.875rem">
              {{ asset.error_timestamp | date : 'dd/MM-yyyy HH:mm' }}
            </span>
          </mat-list-item>
        </div>
      </mat-list>
    </div>

    <div class="icons">
      <button
        *ngIf="previousAsset$ | async as previousAsset"
        [disabled]="!previousAsset"
        (click)="handleAssetNavigation(previousAsset)"
        type="button"
        mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button (click)="downloadCsv()" color="primary" mat-stroked-button>Download CSV File</button>
      <button (click)="downloadZip()" color="accent" mat-stroked-button>Create and Download Complete Asset</button>
      <button
        *ngIf="nextAsset$ | async as nextAsset"
        [disabled]="!nextAsset"
        (click)="handleAssetNavigation(nextAsset)"
        type="button"
        mat-icon-button>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="(asset$ | async) === undefined">
    <p>No asset has been found with this asset_guid.</p>
  </div>
</div>

<ng-template #loading>
  <div class="loading-spinner">Loading...</div>
</ng-template>
