<div *ngIf="asset">
  <mat-list>
    <mat-list-item>Asset Guid: {{asset.asset_guid}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Asset Pid: {{asset.asset_pid}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Status: {{asset.status}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Multi-Specimen: {{asset.multi_specimen}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Specimens: {{specimenBarcodes}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Funding: {{asset.funding}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Subject: {{asset.subject}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Payload Type: {{asset.payload_type}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>File Formats: {{fileFormats}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Asset Locked: {{asset.asset_locked}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Restricted Access: {{restrictedAccess}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Tags: {{tags}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Audited: {{asset.audited}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Created Date: {{asset.created_date}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Date Metadata Updated: {{asset.date_metadata_updated}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Date Asset Taken: {{asset.date_asset_taken}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Date Asset Deleted: {{asset.date_asset_deleted}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Date Asset Finalised: {{asset.date_asset_finalised}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Date Metadata Taken: {{asset.date_metadata_taken}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Institution: {{asset.institution}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Parent Guid: {{asset.parent_guid}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Collection: {{asset.collection}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Internal Status: {{asset.internal_status}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Update User: {{asset.updateUser}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Events:
      {{events}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Digitiser: {{asset.digitiser}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Workstation: {{asset.workstation}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Pipeline: {{asset.pipeline}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Error message: {{asset.error_message}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Error timestamp: {{asset.error_timestamp}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
