.asset-metadata {
  position: absolute;
  top: 10vh;
  left: 5vh;
  width: 45vw;
  height: 40vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.asset-files {
  position: absolute;
  top: 55vh;
  left: 5vh;
  right: 5vh;
  height: 40vh;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
}

.asset-files-table {
  width: 100%;
}

.asset-thumbnail {
  position: absolute;
  top: 10vh;
  right: 5vh;
  width: 45vw;
  height: 40vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.asset-thumbnail img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

.list-item-container {
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 1vh;
  margin-top: 1vh;
}
