.statistics-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 93%;

  .graph-data-container {
    flex-grow: 2;
    width: 100%;
  }

  .status-widget-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;

    mat-divider {
      margin-bottom: 1rem;
      width: 75%;
    }

    dassco-status-widget {
      display: flex;
      width: fit-content;
      padding-bottom: 1rem;
    }
  }
}
