@import 'src/style/base';

.container {
  padding: 1rem;

  .top-div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .saved-searches-btn {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  .input-container {
    margin-top: 1rem;

    button {
      margin-right: 1rem;
    }
  }

  .table {
    margin-top: 1rem;

    .table-properties {
      display: flex;
      flex-direction: row;
      margin-bottom: .5rem;
      align-items: center;
      justify-content: space-between;

      mat-spinner {
        margin-left: 5px;
      }

      .group-btns {
        display: flex;
        flex-direction: row;
        gap: .5rem;
      }
    }

    mat-table {
      width: 100%;

      .file-formats {
        margin-right: 1rem;
      }

      .medium-width {
        width: 6rem;
      }

      .small-width {
        width: 5rem !important;
      }

      mat-header-cell {
        text-align: left;
      }

      mat-row:hover {
        background: whitesmoke;
      }

      mat-cell {
        word-break: break-word;
      }
    }
  }
}

.checkbox-width {
  flex: 0 0 8% !important;
}

.mat-menu-item {
  height: fit-content !important;
  line-height: 30px;
}

.mat-menu-item-true { // not the first element
  border-top: thin solid $primaryColor;
}

.mat-column-events {
  flex: 0 0 8% !important;
}

.event-center-true {
  display: flex;
  justify-content: center;
}

.event-header-cell {
  justify-content: center !important;
}

tr.no-data-row{
  display: flex;
  align-items: center;
  td {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
  }
}
