<div class="container">
  <div *ngIf="idx > 0">
    <p>or</p>
  </div>

  <mat-card>
    <mat-card-content>
      <ng-template #queryBuilderContainer></ng-template>
      <button mat-mini-fab (click)="addWhere(undefined)"
              color="primary"
              matTooltip="New property"
              [matTooltipPosition]="'below'"><mat-icon>library_add</mat-icon></button>

      <button mat-mini-fab (click)="removeComponent()"
              color="warn"
              matTooltip="Remove all"
              [matTooltipPosition]="'below'"><mat-icon>playlist_remove</mat-icon></button>
    </mat-card-content>
  </mat-card>
</div>
