@import '../style/base';

mat-toolbar {
  display: flex;
  justify-content: flex-start;
  background-color: $primaryColor;

  .title {
    font-family: GraphikBold, sans-serif;
    font-size: 2rem;
  }

  .title:hover {
    cursor: pointer;
  }

  .user-icon {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2.2rem;
    color: $secondaryColor;
  }

  user-icon:hover {
    color: $secondaryColorHover;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 5rem;
}

.navigation-menu {
  button {
    font-size: 18px;
    font-family: lemonmilk-medium;
    color: $secondaryColor;
  }

  button:hover {
    color: $secondaryColorHover;
  }
}
