@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import 'src/style/base';

.btns {
  .mat-icon {
    width: fit-content;
    height: fit-content;
  }
  .mat-icon:hover {
    color: $primaryColorHover;
  }
  .material-icons-outlined {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
