<form class="bulk-update-form">
  <mat-form-field appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList aria-label="Tag Name and Description creator">
      <mat-chip *ngFor="let pair of tags" (removed)="remove(pair)">
        {{pair.key}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
        <input #tagInput placeholder="Tag"
               name="tagInput"
               [matChipInputFor]="chipList"
               [(ngModel)]="newTag"
               matInput>
        <input placeholder="Description"
               name="descriptionInput"
               [(ngModel)]="newDescription"
               (keyup.enter)="add()"
               matInput>
        <button mat-icon-button (click)="add()">
          <mat-icon>add</mat-icon>
        </button>
    </mat-chip-list>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select name="status" [(ngModel)]="status">
      <mat-option *ngFor="let status of statusList" [value]="status" >
        {{status}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Asset Locked</mat-label>
    <mat-select name="asset_locked" [(ngModel)]="assetLocked">
      <mat-option [value]="false">False</mat-option>
      <mat-option [value]="true">True</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Subject</mat-label>
    <input matInput placeholder="Ex. Folder" value="" [(ngModel)]="subject" name="subject">
  </mat-form-field>

  <section>
    <mat-checkbox>USER</mat-checkbox>
  </section>

  <button (click)="showJson()">Show</button>
</form>
