@import 'src/style/base';

.container {
  height: 100%;

  .data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .config {
      width: 100%;
      display: flex;
      gap: 1rem;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .time-frame-select {
      }

      .stat-btns {
        .mat-button-toggle-checked {
          background-color: $primaryColorHover;
        }
      }
    }
  }
}

::ng-deep.mat-form-field-wrapper {
  padding: 0 !important;
}
