@import 'src/style/base';

.container {
  display: flex;

  .node-or {
    display: flex;
    flex-direction: column;
  }

    mat-form-field {
      margin-right: .5rem;
    }

    .form-div {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: center;

      .small-input {
        width: 3rem;
      }

      .save-btn:disabled {
        background-color: $primaryColor;
        color: white;
      }
    }
  }
