<div class="container">
    <button mat-icon-button (click)="removeComponent()"
            color="primary"
            matTooltip="Delete whole clause for Node"
            [matTooltipPosition]="'below'"><mat-icon>delete_forever</mat-icon></button>
  <div *ngIf="(cachedDropdownValues$ | async)"></div>

  <div class="form-container">
    <form [formGroup]="queryForm" class="query-form-div">
        <mat-form-field appearance="outline">
          <mat-label>Choose Property</mat-label>
          <mat-select formControlName="node" [compareWith]="compareNodeProperty">
            <mat-select-trigger>
              {{queryForm.controls.node.value?.node}} -> {{queryForm.controls.node.value?.property}}
            </mat-select-trigger>
            <mat-optgroup *ngFor="let n of nodes | keyvalue" [label]="n.key">
              <mat-option *ngFor="let property of n.value" [value]="{node: n.key, property: property}">
                {{property}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>

        <div formArrayName="wheres">
          <div *ngFor="let child of wheres.controls; let i = index" [formGroupName]="i">
            <div class="form-div">
              <div *ngIf="i > 0">
                <p style="margin-right: .5rem;">OR</p>
              </div>

              <mat-form-field appearance="outline">
                <mat-label>Operator</mat-label>
                <mat-select formControlName="operator">
                  <mat-option *ngFor="let operator of operators" [value]="operator">
                    {{operator}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div *ngIf="queryForm.get('dataType')?.value === QueryDataType.DATE">
                <div *ngIf="child.get('operator')?.value && child.get('operator')?.value!.includes('BETWEEN'); else oneDate">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate formControlName="dateStart" placeholder="Start date">
                      <input matEndDate formControlName="dateEnd" placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                </div>

                <ng-template #oneDate>
                  <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="datepicker" formControlName="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                    </mat-datepicker>
                  </mat-form-field>
                </ng-template>
              </div>

              <div *ngIf="queryForm.get('dataType')?.value === QueryDataType.BOOLEAN">
                <mat-form-field appearance="outline">
                  <mat-label>Value</mat-label>
                  <input type="text"
                         placeholder="Value"
                         matInput
                         formControlName="value"
                         #enumInput
                         [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [panelWidth]="'fit-content'">
                    <mat-option class="autocomplete-option" *ngFor="let option of [true, false]" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div *ngIf="queryForm.get('dataType')?.value !== QueryDataType.DATE && queryForm.get('dataType')?.value !== QueryDataType.BOOLEAN">
                <div *ngIf="queryForm.get('dataType')?.value === QueryDataType.ENUM; else defaultValueInput">
                  <mat-form-field appearance="outline">
                    <mat-label>Value</mat-label>
                    <input type="text"
                           placeholder="Value"
                           matInput
                           formControlName="value"
                           #enumInput
                           [matAutocomplete]="auto"
                          (keyup)="filterAutocomplete(enumInput.value)">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [panelWidth]="'fit-content'">
                      <mat-option class="autocomplete-option" *ngFor="let option of (filteredEnumValues | async)" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
<!--              <div *ngIf="chosenNode.value && chosenNode.value.node === 'Asset' && chosenNode.value.property.includes('status'); else defaultValueInput">-->
<!--                <mat-form-field appearance="outline">-->
<!--                  <mat-label>Status</mat-label>-->
<!--                  <mat-select formControlName="value">-->
<!--                    <mat-option value="WORKING_COPY">WORKING_COPY</mat-option>-->
<!--                    <mat-option value="ARCHIVE">ARCHIVE</mat-option>-->
<!--                    <mat-option value="BEING_PROCESSED">BEING_PROCESSED</mat-option>-->
<!--                    <mat-option value="PROCESSING_HALTED">PROCESSING_HALTED</mat-option>-->
<!--                    <mat-option value="ISSUE_WITH_MEDIA">ISSUE_WITH_MEDIA</mat-option>-->
<!--                    <mat-option value="ISSUE_WITH_METADATA">ISSUE_WITH_METADATA</mat-option>-->
<!--                    <mat-option value="FOR_DELETION">FOR_DELETION</mat-option>-->
<!--                  </mat-select>-->
<!--                </mat-form-field>-->
<!--              </div>-->
              <ng-template #defaultValueInput>
                <mat-form-field class="example-form-field" appearance="outline">
                  <mat-label>Value</mat-label>
                  <input matInput type="text" formControlName="value">
                </mat-form-field>
              </ng-template>
            </div>
            <button mat-icon-button (click)="removeWhere(i)" color="primary"><mat-icon>delete</mat-icon></button>
            <button mat-mini-fab
                    class="save-btn"
                    (click)="save(i)"
                    matTooltip="Save where clause"
                    [matTooltipPosition]="'below'"
                    color="primary"
            [disabled]="!child.touched"><mat-icon>check</mat-icon></button>
          </div>
        </div>

        <div class="and-btn-div">
          <button mat-icon-button (click)="addWhere()"
                  color="primary"
                  matTooltip="Add OR argument"
                  [matTooltipPosition]="'below'"><mat-icon>add</mat-icon></button>
        </div>
      </div>
    </form>
  </div>
</div>
