.container {
  padding: 1rem;

  .error-msg {
    width: 100%;
    text-align: center;
    font-family: graphik-regular;
  }

  .actions {
    button {
      margin-bottom: .5rem;
      margin-right: .5rem;
    }
  }

  table {
    width: 75%;
  }

  tr.detail-row {
    height: 0;
    background-color: whitesmoke;
  }

  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }

  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  tr.element-row:is(.expanded-row) {
    background: whitesmoke;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    display: flex;
    overflow: hidden;
    gap: 4rem;
    justify-content: space-between;
  }

  .element-description-attribution {
    opacity: 0.5;
  }

  .add-item:hover {
    cursor: pointer;
    background-color: #e5e5e5;
  }

  .digitiser-div, .edit-actions, .detail-inner {
    flex: 1;
  }

  .edit-actions {
    .edit-btns {
      display: flex;
      flex-direction: column;
    }

    .edit-btn-editing-false {
      visibility: hidden;
    }

    button {
      margin-bottom: .5rem;
    }
  }

  .download-actions {
    .download-btns {
      display: flex;
      flex-direction: column;
    }

    .download-btn-editing-false {
      visibility: hidden;
    }

    button {
      margin-bottom: .5rem;
    }
  }
}

.list-option-digitiser-false:hover { // i know this is messy, but until we get an acutal layout i'm not gonna spend more time on it lol
  cursor: default;
  ::ng-deep mat-pseudo-checkbox {
    cursor: default;
  }
}

.list-option-false, .list-option-digitiser-false  {
  ::ng-deep mat-pseudo-checkbox {
    color: rgba(0,0,0,0);
    background-color: darkgrey;
  }
}
