<div class="container">
  <div *ngIf="(assetGroups$ | async); else noGroups">
    <div class="actions">
      <button [disabled]="groupSelection.isEmpty()" mat-raised-button (click)="deleteGroups()">Delete Groups</button>
    </div>

    <table mat-table
           [dataSource]="dataSource" [multiTemplateDataRows]="true"
           class="mat-elevation-z8">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="groupSelection.hasValue() && isAllSelected()"
                        [indeterminate]="groupSelection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox #checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event && row.isCreator ? groupSelection.toggle(row) : null"
                        [checked]="row.isCreator && groupSelection.isSelected(row)"
                        [disabled]="!row.isCreator">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="group_name">
        <th mat-header-cell *matHeaderCellDef>Group Name</th>
        <td mat-cell *matCellDef="let element">{{element.group_name}}</td>
      </ng-container>

      <ng-container matColumnDef="assets_count">
        <th mat-header-cell *matHeaderCellDef>No. of Assets</th>
        <td mat-cell *matCellDef="let element">
          {{element.assets.length}}
        </td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsExpanded.length">
        <div class="element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="detail-inner">
            <mat-selection-list #assets>
              <div mat-subheader>Assets</div>
              <mat-list-option [checkboxPosition]="'before'"
                               *ngFor="let asset of element.assets"
                               class="list-option-{{editing}}"
                               [value]="asset"
                               (click)="!editing && goToAsset(asset)">{{asset}}</mat-list-option>
            </mat-selection-list>
          </div>

          <div class="digitiser-div">
            <mat-selection-list #digitisers>
              <div mat-subheader>Digitisers With Access</div>
              <mat-list-option #option [checkboxPosition]="'before'"
                                *ngFor="let digitiser of element.hasAccess"
                                class="list-option-digitiser-{{editing}}"
                                [value]="digitiser"
                                [disabled]="editing && element.groupCreator == digitiser"
                               (click)="!editing && option.toggle()">{{digitiser}} {{element.groupCreator == digitiser ? '(Creator)' : ''}}</mat-list-option>

              <div *ngIf="editing && (cachedDigitisers$ | async) as digitisers">
                <mat-form-field appearance="standard">
                  <mat-label>Add Digitisers</mat-label>
                  <mat-select [multiple]="true" [formControl]="digitiserFormControl">
                    <ng-container *ngFor="let digitiser of digitisers | keyvalue" >
                      <mat-option *ngIf="!element.hasAccess.includes(digitiser.key)" [value]="digitiser.key">
                        {{digitiser.key}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-selection-list>
          </div>

          <div class="edit-actions">
            <div *ngIf="element.isCreator">
              <button mat-mini-fab (click)="editGroup(); assets.deselectAll(); digitisers.deselectAll();"
                      matTooltip="Edit group"
                      [matTooltipPosition]="'below'">
                <mat-icon>edit</mat-icon>
              </button>
              <div class="edit-btn-editing-{{editing}} edit-btns">
                <button mat-raised-button [disabled]="assets.selectedOptions.isEmpty()" (click)="removeMatListOptionAssets(assets.selectedOptions.selected, element)">
                  Remove Assets
                </button>
                <button mat-raised-button [disabled]="digitisers.selectedOptions.isEmpty()" (click)="revokeAccess(digitisers.selectedOptions.selected, element)">
                  Revoke Access
                </button>
                <button mat-raised-button
                        [disabled]="digitiserFormControl.value ? digitiserFormControl.value!.length <= 0 : true"
                        (click)="newDigitiserAccess(element)">
                  Give Access
                </button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsExpanded"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumnsExpanded;"
        class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element; this.editing = false;">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
  </div>

  <ng-template #noGroups>
    <h2 class="error-msg">No groups available to your user.</h2>
  </ng-template>

</div>
