@import 'src/style/base';

.container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  font-family: geomatrix-medium;
  color: $secondaryColor;

  .caps-td {
    text-transform: uppercase;
  }

  //.status-container {
  //  display: flex;
  //  flex-direction: row;
  //  gap: 1rem;
  //  border-radius: 1rem;
  //  width: fit-content;

    .footer-row {
      font-family: Arial;
      font-style: italic;
    }
  //}

}
