@import 'src/style/base';

.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  font-family: geomatrix-medium;
  color: $secondaryColor;

  .status-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 1rem;
    width: fit-content;

    .footer-row {
      font-family: Arial;
      font-style: italic;
    }
  }

}
