<div class="container">
  <div class="widget-header" (click)="toggleExpanded()">
    <span>Status Statistics</span>
    <mat-icon>{{ expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
  </div>

  <div class="widget-content" [@expandCollapse]="expanded ? 'expanded' : 'collapsed'">
    <div *ngIf="dailyStatus$ | async as customStatus" class="status-box">
      <div class="status-header">
        <p>Status</p>
        <p>No.</p>
      </div>
      <ng-container *ngFor="let statusRow of customStatus.data | sortInternalStatusPipe : 'status'">
        <div class="status-row">
          <p>{{ statusRow.status }}</p>
          <p>{{ statusRow.no }}</p>
        </div>
      </ng-container>
      <div class="status-footer">
        <p>
          This number is based on
          <b>{{ startDate | async }}</b>
          -
          <b>{{ endDate | async }}</b>
        </p>
      </div>
    </div>

    <div *ngIf="totalStatus$ | async as totalStatuses" class="status-box">
      <div class="status-header">
        <p>Status</p>
        <p>No.</p>
      </div>
      <ng-container *ngFor="let statusRow of totalStatuses.data | sortInternalStatusPipe : 'status'">
        <div class="status-row">
          <p>{{ statusRow.status }}</p>
          <p>{{ statusRow.no }}</p>
        </div>
      </ng-container>
      <div class="status-footer">
        <p>
          This number is based on
          <b>all</b>
          data
        </p>
      </div>
    </div>
  </div>
</div>
