@import 'src/style/base';

.chart-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0 1rem 0 1rem;

  .export {
    display: flex;
    justify-content: flex-end;
    z-index: 10;

    dassco-export-chart {
      position: absolute;
       margin-top: 1rem;
    }
  }

  .canvas-container {
    position: relative;
    height: 100%;
  }
}
