@import 'src/style/base';

.chart-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .export {
    display: flex;
    justify-content: flex-end;
    z-index: 10;

    dassco-export-chart {
      position: absolute;
    }
  }

  .canvas-container {
    position: relative;
    height: fit-content; // 50vh
    width: 80vw;
    display: flex;
    justify-content: center;
  }
}
