@import 'src/style/base';

.container {
  display: flex;
  flex-direction: column;

  ul {
    padding: 0;
    font-family: graphik-regular;
    list-style: none;
  }
  li {
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem 0 0.25rem 0.5rem;
    align-items: center;
    border-bottom: 1px solid #80808080;
    span {
      margin-right: auto;
    }
  }
}
