<div class="container">
  <h1 mat-dialog-title>Saved searches</h1>
  <div mat-dialog-content>
    <div *ngIf="savedQueries$ | async">
      <ul *ngFor="let query of savedQueries">
        <li>
          <span>
            {{ query.name }}
          </span>
          <button mat-flat-button color="primary" (click)="chooseQuery(query)">Use</button>
          <button mat-flat-button color="warn" (click)="deleteSavedSearch(query)">Delete</button>
        </li>
      </ul>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button (click)="cancel()" cdkFocusInitial>Cancel</button>
  </div>
</div>
